*.log
build/**/*
bios_mem/*.asy
bios_mem/*.gise
bios_mem/*.mif
bios_mem/*.ngc
bios_mem/*.veo
bios_mem/*.xco
bios_mem/*.xise
bios_mem/*.txt
bios_mem/*.tcl
bios_mem/*.cgc
bios_mem/*.cgp
bios_mem/*.pdf
bios_mem/*.coe
bios_mem/build/**/*
bios_mem/tmp/**/*

imem_blk_ram/*.asy
imem_blk_ram/*.gise
imem_blk_ram/*.mif
imem_blk_ram/*.ngc
imem_blk_ram/*.veo
imem_blk_ram/*.xco
imem_blk_ram/*.xise
imem_blk_ram/*.txt
imem_blk_ram/*.tcl
imem_blk_ram/*.cgc
imem_blk_ram/*.cgp
imem_blk_ram/*.pdf
imem_blk_ram/*.coe
imem_blk_ram/build/**/*
imem_blk_ram/tmp/**

dmem_blk_ram/*.asy
dmem_blk_ram/*.gise
dmem_blk_ram/*.mif
dmem_blk_ram/*.ngc
dmem_blk_ram/*.veo
dmem_blk_ram/*.xco
dmem_blk_ram/*.xise
dmem_blk_ram/*.txt
dmem_blk_ram/*.tcl
dmem_blk_ram/*.cgc
dmem_blk_ram/*.cgp
dmem_blk_ram/*.pdf
dmem_blk_ram/*.coe
dmem_blk_ram/build/**/*
dmem_blk_ram/tmp/**
